
/* #region common */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --sptfy-primary: #ffffff;
    --sptfy-secondary: #000000;
    --sptfy-dark: #080b12;
    --sptfy-mid-dark: #282828;
    --sptfy-light-dark: #141922;
    --sptfy-light: #7b7d82;
    --sptfy-lighter: #d2d2d2;
    --sptfy-spoty: #adff2f;
}

img{
    width: 100%;
}

a{
    text-decoration: none;
}

.debug{
    border: 1px solid black;
}

.container{
    display: flex;
    height: 90vh;
}

.d_flex{
    display: flex;
}

main{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

h1{
    color: var(--sptfy-primary);
    margin: .8rem;
}


[class^="col_2"]{
    
}

h3{
    color: var(--sptfy-primary);
    margin-top: 1rem;
    margin-bottom: .6rem;
    text-align: center;
}

/* #endregion common */


/* #region utility */
.txt_primary{
    color: var(--sptfy-primary);
}
.txt_light{
    color: var(--sptfy-light);
}

.bg_secondary{
    background-color: var(--sptfy-secondary);
}

.bg_dark{
    background-color: var(--sptfy-dark);
}

.bg_mid_dark{
    background-color: var(--sptfy-mid-dark);
}

.bg_light_dark{
    background-color: var(--sptfy-light-dark);
}

.bg_light{
    background-color: var(--sptfy-light);
}

.fnt_sz{
    font-size: 1rem;

}

.flex_col{
    display: flex;
    flex-direction: column;

}


.cnt_container{

    width: 95%;
    margin: auto;

}

.col_2{
    width: calc(100% / 12 * 2);
    
}


/* .side_border{
    border-left: 2px solid var(--sptfy-spoty);

} */



/* #endregion utilty */

/* #region side bar */

.side_bar{
    display: flex;
    flex-direction: column;
    width: 200px;
    height: calc(100vh - 10vh);
    font-size: .8rem;
    
    .home, .search, .library{
        display: flex;
        margin: .4rem 0rem;
        align-items: center;

        img{
            width: 20px;
            margin-right: .2rem;
            margin-left: 1rem;
        }
    }

    .home:hover{
        border-left: 2px solid var(--sptfy-spoty);
        color: var(--sptfy-primary);
    }

    .search:hover{
        border-left: 2px solid var(--sptfy-spoty);
        color: var(--sptfy-primary);
    }

    .library:hover{
        border-left: 2px solid var(--sptfy-spoty);
        color: var(--sptfy-primary);
    }


}

.logo{
    display: flex;
    align-self: flex-start;
    padding: 1rem;
    
}

.playlist{
    font-size: .8rem;
    margin-top: 1rem;
    margin-left: 1rem;
    color: var(--sptfy-primary);
}

.new_playlist, .nome_playlist{
    display: flex;
    align-items: center;
    margin: .5rem 1rem;
}

.add{
    background-color: var(--sptfy-light);
    width: 20px;
    margin: 0rem .2rem;
}

.profile{
    display: flex;
    flex-direction: column;
    justify-content:flex-end;
    flex-grow: 1;

    a{
        display: flex;
        align-items: center;

        img{
            width: 20px;
            margin: 0rem 1rem;
        }
    }

    .name_profile{
        color: #ffffff;
        font-weight: bold;
        display: flex;
        align-items: center;
        border-top: 1px solid var(--sptfy-light);
        padding-top: .5rem;
        width: 80%;
        margin-left: 1rem;


        img{
            height: 20px;
            width: 20px;
            margin: .5rem .2rem;
            background-color: var(--sptfy-light);
            border-radius: 50%;
        }
    }
}

/* #endregion side bar */

/* #region up bar */
    .up_bar{
        height: 10vh;
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;   
        position: sticky; 
    }

    .upgrade{
        font-size: 1rem;
        padding: .5rem 1.5rem;
        border: 1px solid var(--sptfy-primary);
        border-radius: 10px;

    }

    .upgrade:active{
        font-size: 1.5rem;
    }
    
/* #endregion up bar */




/* #region content */

    .content{
        height: 80vh;
        width: 100%;
        overflow-y: scroll;

    }

    .gender{
        display: flex;
        justify-content: center;
        margin-top: 2rem;
        gap: 1rem;
        width: 100%;

        .gender_name{
            align-items: center;

            a{
                color: var(--sptfy-light);
            }

        }

    }

    .gender_selection{
        margin: .5rem;
        width: 1.5rem;
        
    }

    .gender_name:hover{
        color: var(--sptfy-primary);

        a{
            color: var(--sptfy-primary);
        }

        .gender_selection{
            border-top: 2px solid var(--sptfy-spoty);
        }
    }

    .recent_play{
        margin: 1rem;
        gap: 1.6rem;
    }

    .selection{
        display: flex;
        flex-direction: column;
        align-items: center;

        span{
            color: var(--sptfy-light);
        }
    }

    .tips{
        margin-left: .8rem;
        color: var(--sptfy-light);
    }

/* #endregion content */

/* #region player */

    .player{
        height: 10vh;
        width: 100%;
        position: sticky;

    }

/* #endregion player*/




