
/* #region common */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --sptfy-primary: #ffffff;
    --sptfy-secondary: #000000;
    --sptfy-dark: #080b129c;
    --sptfy-mid-dark: #282828;
    --sptfy-light-dark: #141922;
    --sptfy-light: #7b7d82;
    --sptfy-lighter: #d2d2d2;
    --sptfy-spoty: #adff2f;
}

img{
    width: 100%;
    cursor: pointer;
}

a{
    text-decoration: none;
}

.debug{
    border: 1px solid black;
}

.container{
    display: flex;
    height: 90vh;
}

.d_flex{
    display: flex;
}

main{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

h1{
    color: var(--sptfy-primary);
    margin: .8rem;
}


h3{
    color: var(--sptfy-primary);
    margin-top: 1rem;
    margin-bottom: .6rem;
    text-align: center;
}

body{
    overflow: hidden;
}

/* #endregion common */

/* #region utility */
.txt_primary{
    color: var(--sptfy-primary);
}
.txt_light{
    color: var(--sptfy-light);
}

.bg_secondary{
    background-color: var(--sptfy-secondary);
}

.bg_dark{
    background-color: var(--sptfy-dark);
}

.bg_mid_dark{
    background-color: var(--sptfy-mid-dark);
}

.bg_light_dark{
    background-color: var(--sptfy-light-dark);
}

.bg_light{
    background-color: var(--sptfy-light);
}

.fnt_sz{
    font-size: 1rem;

}

.flex_col{
    display: flex;
    flex-direction: column;

}


.cnt_container{

    width: 95%;
    margin: auto;

}

.col_2{
    width: calc(100% / 12 * 2);
    
}


/* .side_border{
    border-left: 2px solid var(--sptfy-spoty);

} */



/* #endregion utilty */

/* #region side bar */

.side_bar{
    display: flex;
    flex-direction: column;
    width: 200px;
    height: calc(100vh - 10vh);
    font-size: .8rem;
    
    .home, .search, .library{
        display: flex;
        margin: .4rem 0rem;
        align-items: center;

        img{
            width: 20px;
            margin-right: .2rem;
            margin-left: 1rem;
        }
    }

    .home:hover{
        border-left: 2px solid var(--sptfy-spoty);
        color: var(--sptfy-primary);
    }

    .search:hover{
        border-left: 2px solid var(--sptfy-spoty);
        color: var(--sptfy-primary);
    }

    .library:hover{
        border-left: 2px solid var(--sptfy-spoty);
        color: var(--sptfy-primary);
    }


}

.logo{
    display: flex;
    align-self: flex-start;
    padding: 1rem;
    
}

.logo_small{
    display: none;
}

.playlist{
    font-size: .8rem;
    margin-top: 1rem;
    margin-left: 1rem;
    color: var(--sptfy-primary);
}

.new_playlist, .nome_playlist{
    display: flex;
    align-items: center;
    margin: .5rem 1rem;
}

.add{
    background-color: var(--sptfy-light);
    width: 20px;
    margin: 0rem .2rem;
}

.profile{
    display: flex;
    flex-direction: column;
    justify-content:flex-end;
    flex-grow: 1;

    a{
        display: flex;
        align-items: center;

        img{
            width: 20px;
            margin: 0rem 1rem;
        }
    }

    .name_profile{
        color: #ffffff;
        font-weight: bold;
        display: flex;
        align-items: center;
        border-top: 1px solid var(--sptfy-light);
        padding-top: .5rem;
        width: 80%;
        margin-left: 1rem;


        img{
            height: 20px;
            width: 20px;
            margin: .5rem .2rem;
            background-color: var(--sptfy-light);
            border-radius: 50%;
        }
    }
}

.download_s{
    display: none;
}

.name_profile_s{
    display: none;
}

/* #endregion side bar */

/* #region content */

/* #region up bar */
    .up_bar{
        min-height: 91px;
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;   
        position: sticky; 
        top: 0;
        z-index: 1;
    }

    .upgrade{
        font-size: 1rem;
        padding: .5rem 1.5rem;
        border: 1px solid var(--sptfy-primary);
        border-radius: 10px;
        

    }

    .upgrade:active{
        font-size: 1.5rem;
    }
    
/* #endregion up bar */

    .content{
        height: calc(100%);
        width: 100%;
        overflow-y: scroll;

    }

    .content::-webkit-scrollbar{
        width: 1px;

    }

    /* .content::-webkit-scrollbar-thumb{
        background-color: #adff2f;
        border-radius: 20px;
        border: 2px solid var(--sptfy-light);
    } */



    .gender{
        display: flex;
        justify-content: center;
        margin-top: 2rem;
        gap: 1rem;
        width: 100%;

        .gender_name{
            align-items: center;

            a{
                color: var(--sptfy-light);
            }

        }

    }

    .gender_selection{
        margin: .5rem;
        width: 1.5rem;
        
    }

    .gender_name:hover{
        color: var(--sptfy-primary);

        a{
            color: var(--sptfy-primary);
        }

        .gender_selection{
            border-top: 2px solid var(--sptfy-spoty);
        }
    }

    .recent_play{
        margin: 1rem;
        gap: 1.6rem;
    }

    .selection{
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;

        span{
            color: var(--sptfy-light);
        }
    }

    .tips{
        margin-left: .8rem;
        color: var(--sptfy-light);
    }
    
    .play_button1a, .play_button2a, .play_button3a, .play_button4a, .play_button5a, .play_button6a, .play_button7a, .play_button8a, .play_button9a, .play_button10a {
        display: none;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }

    .play_button1:hover{
        cursor: pointer;
        .play_button1a{
            display: block;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
        }
    
    }

    .play_button2:hover{
        cursor: pointer;
        .play_button2a{
            display: block;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
        }
    
    }

    .play_button3:hover{
        cursor: pointer;
        .play_button3a{
            display: block;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
        }
    
    }

    .play_button4:hover{
        cursor: pointer;
        .play_button4a{
            display: block;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
        }
    
    }

    .play_button5:hover{
        cursor: pointer;
        .play_button5a{
            display: block;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
        }
    
    }

    .play_button6:hover{
        cursor: pointer;
        .play_button6a{
            display: block;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
        }
    
    }

    .play_button7:hover{
        cursor: pointer;
        .play_button7a{
            display: block;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
        }
    
    }
    .play_button8:hover{
        cursor: pointer;
        .play_button8a{
            display: block;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
        }
    
    }
    .play_button9:hover{
        cursor: pointer;
        .play_button9a{
            display: block;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
        }
    
    }
    .play_button10:hover{
        cursor: pointer;
        .play_button10a{
            display: block;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
        }
    
    }
/* #endregion content */

/* #region player */

    .player{
        display: flex;
        min-height: 91px;
        width: 100%;
        position: sticky;
        overflow: hidden;


    }

    .description{
        display: flex;
        align-items: center;
        width: calc(100% / 3);
        img{
            width: 40PX;
            aspect-ratio: 1 / 1;
        }
    }

    .sinister{
        margin-left: 1rem;
        margin-right: 1rem;
    }


    .music_descriprion{
        color: var(--sptfy-primary);

        


    }

    .name_track{
        font-size: .6rem;
        color: var(--sptfy-light);
        
    }


    .heart{
        margin-left: 4rem;
        margin-right: 1.5rem;
    }

    .nav_player{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: calc(100% / 3);
        margin-top: .5rem;
        margin-bottom: .5rem;
    
    }

    .time{
        display: flex;
        align-items: center;
        width: 100%;
        color: var(--sptfy-primary);
    }


    .time_bar{
        width: 100%;
        height: 4px;
        background-color: var(--sptfy-light);
        margin-left: 2rem;
        margin-right: 2rem;

    }

    .time_progress{
        background-color: var(--sptfy-lighter);
        width: 30%;
        height: 4px;
        position: relative;
    }


    .time_progress:hover{
        background-color: #adff2f;
        cursor: pointer;

        .radius{
            display: inline-block;
        }
    }

    .radius{
        display: none;
        position: absolute;
        transform: translateY(-40%);
        background-color: aliceblue;
        right: 0;
        top: 0;
        height: 15px;
        width: 15px;
        border: 4.5px solid var(--sptfy-spoty);
        border-radius: 50%;
        
    }

    .menu_volume{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: calc(100% / 3);
        img{
            margin-left: 1rem;
        }
    }

    .volume_bar{
        width: 30%;
        height: 4px;
        background-color: var(--sptfy-light);
        margin-left: 2rem;
        margin-right: 2rem;
    }

    .volume_progress{
        background-color: var(--sptfy-lighter);
        width: 20%;
        height: 4px;
    }


    .volume_progress:hover{
        background-color: var(--sptfy-spoty);
        cursor: pointer;
    }


/* #endregion player*/

/* #region media query 1100 */

@media screen and (max-width:1100px) {

    .row_md{
        flex-wrap: wrap;
    }

    .col_md_3{
        width: calc(100% / 12 * 3);
    }

    .volume_bar_l{
        height: 4px;
        background-color: var(--sptfy-light);
        margin-left: 1rem;
        margin-right: 1rem;

    }

    
}

/* #endregion media query 1100 */

/* #region media query 700 */
@media screen and (max-width:700px) {
    .col_s_5 {
        width: calc(100% / 12 * 5);
    }

    .player_items_m{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-right: 1rem;
    }

    .heart_m{
        margin: 0.1rem 0.1rem;
    }
    .music_descriprion{
        span{
            margin-right: 2rem;
        }
    }

    .volume_bar_m{
        height: 4px;
        background-color: var(--sptfy-light);
        margin-left: 0.5rem;
        margin-right: 0.5rem;

    }
    
}


/* #endregion media query 700 */

/* #region media query 600 */


@media screen and (max-width:600px) {

    .nome_playlist_s{
        display: none;
    }

    .new_playlist{
        display: none;
    }

    .side_bar_s{
        width: 55px;
        span{
            display: none;
        }
    }

    .logo_big{
        display: none;

    }

    .logo_small{
        display: block;
        width: 25px;
    }

    .download_img{
        display: none;
    }
    .download{
        display: none;
    }

    .name_profile{
        display: none!important;
    }

    .name_profile_img{
        display: none;
    }


    
    .download_s{
        display: block;
        width: 25px;
        margin: .5rem .77rem;
        

    }

    .name_profile_s{
        display: block;
        width: 25px;
        height: 20px;
        width: 20px;
        margin: .5rem 1rem;
        background-color: var(--sptfy-light);
        border-radius: 50%;

    }

    .volume_bar_s{
        height: 4px;
        background-color: var(--sptfy-light);
        margin-left: 0.5rem;
        margin-right: 0.5rem;

    }
}

/* #endregion media query 600 */